@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>Welcome @ViewBag.Username</h1>
    <!-- Add images if needed, copy to wwwroot/images -->
    <img src="~/images/Powa-Logo.png" alt="Powa Logo" />
    <center><img src="~/images/powavision.png" alt="Powa Vision" /></center>
</div>